.main-container {
    display: flex;
    background-color: beige;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main-container > * {
    /*flex: 1;*/
    border: solid 1px red;

}